body{
  background-image: url(images/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
}

.main {
  width: 60rem;
  height: 50rem;
  background-image: url(images/abstract-background-images-wallpaper-ai-generated_643360-24019.avif);
  margin: 5rem auto;
}
.sub{
  width: 30rem;
  height: 25rem;
  background-image: url(images/pexels-guillaume-meurice-1591447.jpg);
  background-attachment: fixed;
  margin-top: 0;
  animation: safo 1s ease-in forwards infinite alternate;
}
input {
  display: block;
  margin-bottom: 1rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 7rem;
  border-radius: .4rem;
  padding-left: .3rem;
  border: none;
}
button {
  display: block;
  padding: 1rem 4rem 1rem 3rem;
  background-color: seagreen;
  color: #fff;
  margin-top: 1rem;
  margin-left: 9rem; 
}
p {
  margin-left: 13rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2rem;
}
::placeholder {
  color: orange;
}
a {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10rem;
}
.main:hover .sub {
  transform: translate(100%);
  animation-play-state: paused;
  
}

@keyframes safo {
  0% {
    transform: translateX(0%);
  }
  35% {
    background-image: url(images/58bd4fc9ebfccc1f2de419529bbf1a12.jpg);
    transform: translateY(100%);
  }
  66% {
    background-image: url(images/48025aa532f549ee34f27bc311556e52.jpg);
    transform: translateX(100%) translateY(100%);
  }
  100% {
    background-image: url(images/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg);
    transform: translateX(100%);
  }
}
